// P A G E  H E A D E R -----------

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__container,
.page-header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.page-header__item {
  margin-left: 50px;
}

.page-header__item--margin-none {
  margin-left: 0px;
}

.page-header__item--margin-studio {
  margin-left: 93px;
}

.page-header__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__text:hover,
.page-header__text:focus {
  color: var(--logo-special-color);
}
.page-header__text--current {
  color: var(--logo-special-color);
}

.page-header__contact-color {
  color: var(--special-grey-color);
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__contact-color:hover,
.page-header__contact-color:focus {
  color: var(--logo-special-color);
}
.page-header__contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.page-header__item--nav-pointer {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header__item--nav-pointer::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--logo-special-color);
  border-radius: 2px;
}
// L O G O --------------------

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-special-color);
}

.logo__color-black {
  color: #000;
}
.logo__color-white {
  color: #fff;
}

// P A G E  F O O T E R ----------------------
.page-footer {
  display: flex;
  align-items: baseline;
  min-height: 252px;
  background-color: var(--bgc-hero-footer);
  margin-left: auto;
  margin-right: auto;
}
.page-footer__container {
  display: flex;
  align-items: baseline;
  margin-top: 60px;
  margin-bottom: 60px;
}
.page-footer-logo {
  width: 246px;
  margin-right: 70px;
}

.page-footer-logo__address-color {
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 9px;
}

.page-footer-logo__contacts {
  margin-top: 9px;
}

.page-footer-logo__links {
  max-width: 246px;
  padding: 0;
  margin: 0;
}
.page-footer-join {
  margin-right: 93px;
}

.page-footer-join__text {
  text-transform: uppercase;
  color: #fff;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--logo-special-color);
  border-radius: 50%;
}

.social-icons__image {
  fill: currentColor;
}
.page-footer-newsletter {
  width: 570px;
  min-height: 86px;
}

.page-footer-newsletter__submit {
  color: #fff;
  text-transform: uppercase;
}

.page-footer-newsletter__input {
  width: 354px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 12px;
  padding: 15px 16px 15px 16px;

  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: #fff;

  background-color: transparent;
}
.page-footer-newsletter__input:focus {
  outline: none;
  border: 1px solid var(--logo-special-color);
}
.page-footer-newsletter__input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-newsletter__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: var(--special-grey-color);
}

.page-footer-newsletter__btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;
  margin: auto;

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--logo-special-color);
  color: #fff;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}
.page-footer-newsletter__btn-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

// M A I N -------------------------------------

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bcg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.section-hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-hero__btn {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--logo-special-color);
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

.section-advantages {
  margin-top: 94px;
}
.section-advantages__list {
  display: flex;
}
.section-advantages__item {
  margin-left: 30px;
}

.section-advantages__icon {
  background-color: rgb(245, 244, 250);
  background-size: cover;
  background-position: center;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  border-radius: 5px;
}

.section-advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
}
.section-advantages__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--special-grey-color);
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 94px;
  margin-left: 0;
  margin-right: 0;
  max-width: 270px;
}

.section-team {
  background-color: #f5f4fa;
}
.section-team__title,
.section-clients__title {
  width: 1170px;
  margin: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 94px;
}

.section-team__item {
  margin-left: 30px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team__item--margin-none {
  margin-left: 0;
}

.section-team__personal-name {
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 0;
}
.section-team__personal-sub {
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
}
.social-icons {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}
.social-icons__team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--icons-color);
  background-color: #fff;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__team-link:hover,
.social-icons__team-link:focus {
  background-color: var(--logo-special-color);
  border-radius: 50%;
  color: #fff;
}

.social-icons__team-icon {
  fill: currentColor;
}

.section-clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 94px;
}

.section-clients__item {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
}

.section-clients__item--margin-none {
  margin-left: 0;
}

.section-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border-style: solid;
  border-width: 1px;
  border-color: var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__link:hover,
.section-clients__link:focus {
  border-style: solid;
  border-width: 1px;
  border-color: var(--logo-special-color);
  border-radius: 4px;
  color: var(--logo-special-color);
}

.section-clients__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal__is-hidden {
  transform: translate(-50%, -50%) scale(1.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 521px;

  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin: auto;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
}

.modal-form__label {
  position: relative;

  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.modal-form__label--comment {
  position: relative;

  display: flex;
  margin-bottom: 0;
  flex-direction: column;
}
.modal-form__label {
  &:focus-within {
    & .modal-form__icon {
      fill: var(--logo-special-color);
    }
    & .modal-form__input {
      outline: none;
      border: 1px solid var(--logo-special-color);
    }
    & .modal-form__text-comment {
      outline: none;
      border: 1px solid var(--logo-special-color);
    }
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__text {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;

  color: var(--special-grey-color);
}
.modal-form__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text-comment {
  min-width: 448px;
  min-height: 120px;
  padding: 12px 16px;

  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  color: #000;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__politics-text {
  margin-left: 7px;
  color: var(--special-grey-color);
}
.modal-form__label-politics {
  position: relative;
  margin: 20px auto 30px auto;

  display: flex;

  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.172;
}

.modal-form__private-policy {
  margin-left: 5px;
  color: var(--logo-special-color);
  text-decoration-line: underline;
}

.modal-form__checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.modal-form__checkbox:checked {
  display: none;
}

.modal-form__checkbox {
  &:checked {
    & + .modal-form__checkbox-icon {
      background-color: var(--logo-special-color);
      border-radius: 2px;
      border-color: var(--logo-special-color);
    }
  }
}
.modal-form__checkbox-icon {
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__submit {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: auto;

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--logo-special-color);
  color: #fff;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover {
  fill: var(--logo-special-color);
}
.product__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.product__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 94px;
}

.product__item {
  position: relative;
  margin-left: 30px;
}

.product__item--margin-none {
  margin-left: 0;
}

.product__description {
  position: absolute;
  left: 0;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0 auto;

  width: 100%;
  min-height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}
.product__no-gap {
  display: block;
}
// ---------------------------------------------------------------------------
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

// P  O  R  T  F  O  L  I  O
.button-style {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-style:hover,
.button-style:focus {
  color: #fff;
  background-color: var(--logo-special-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.portfolio-list-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfoliio-list-description {
  font-size: 16px;
  line-height: 1.875;
  color: var(--special-grey-color);

  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.portfolio-image-item {
  width: 369px;
  height: 294px;
  overflow: hidden;
}

.flex-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 34px;
}
.flex-btn li:not(:first-child) {
  margin-left: 8px;
}
.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 64px;
}

.container-portfolio li {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-text {
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text:hover,
.portfolio-text:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-portfolio li:not(:nth-child(3n + 1)) {
  margin-left: 30px;
  margin-bottom: 30px;
}

.container-portfolio li:nth-child(3n + 1) {
  margin-left: 0px;
  margin-bottom: 30px;
}

.portfolio-text h2 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
}

.overlay-text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;
  margin: 0 0;

  width: 369px;
  height: 294px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;

  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;

  opacity: 0;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text:hover .overlay-text {
  opacity: 1;
  transform: translateY(0%);
}

.container-overlay {
  position: relative;
  overflow: hidden;
}
