.font-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-special-color);
}
.logo-color-black {
  color: #000;
}
.logo-color-white {
  color: #fff;
}
.main-font-normal {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-font-normal:hover,
.main-font-normal:focus {
  color: var(--logo-special-color);
}
.main-font-normal.current {
  color: var(--logo-special-color);
}
.contact-color {
  color: var(--special-grey-color);
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-color:hover,
.contact-color:focus {
  color: var(--logo-special-color);
}
.hero-color {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bcg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order-a-service {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--logo-special-color);
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

.our-advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
}
.our-advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--special-grey-color);
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 94px;
  margin-left: 0;
  margin-right: 0;
  max-width: 270px;
  outline: 1px solid var(--color-for-outline);
}

.flex-container-what-we-do {
  display: flex;
  /* margin-top: 94px; */
  /* margin-bottom: 94px; */
}

.flex-container-wwd {
  margin-left: 30px;
}

.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  /* padding-top: 94px; */
  margin-top: 0;
  margin-bottom: 50px;
  outline: 1px solid var(--color-for-outline);
}

.team-title {
  width: 1170px;
  margin: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-top: 0;
  margin-bottom: 50px;
  outline: 1px solid var(--color-for-outline);
}

.what-we-do-list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  /* margin-left: 30px; */
  margin-bottom: 94px;
  outline: 1px solid var(--color-for-outline);
}

.what-we-do-list li:not(:nth-child(1)) {
  margin-left: 30px;
  outline: 1px solid var(--color-for-outline);
}

.no-gap {
  display: block;
}

.background-color-team {
  background-color: #f5f4fa;
  /* margin: 0px -200px;
  min-width: auto; */
}
.team-personal-name {
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 0;
  outline: 1px solid var(--color-for-outline);
}
.team-personal-sub {
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
  outline: 1px solid var(--color-for-outline);
}

/* HW nr. 3 */
.container-what-we-do {
  outline: 1px solid var(--color-for-outline);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 94px;
}

.team-figures {
  margin-left: 30px;
}

.team-list > li {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* HW nr. 4 */
.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.advantages-icon {
  background-color: rgb(245, 244, 250);
  background-size: cover;
  background-position: center;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  outline: 1px solid var(--color-for-outline);
  border-radius: 5px;
}
.container.container-main {
  margin-top: 94px;
}

.team-icons > li {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.team-icons {
  margin-bottom: 30px;
}
.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--icons-color);
  background-color: #fff;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--logo-special-color);
  border-radius: 50%;
  color: #fff;
}

.team-social-icon {
  fill: currentColor;
}

.container-social {
  width: 206px;
  height: 80px;
}

.join {
  text-transform: uppercase;
  color: #fff;
}

.team-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-footer:hover,
.team-link-footer:focus {
  background-color: var(--logo-special-color);
  border-radius: 50%;
}

.team-social-icon-footer {
  fill: currentColor;
}

.our-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 94px;
}

.our-clients > li:not(:first-child) {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
}

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border-style: solid;
  border-width: 1px;
  border-color: var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover,
.our-clients-link:focus {
  border-style: solid;
  border-width: 1px;
  border-color: var(--logo-special-color);
  border-radius: 4px;
  color: var(--logo-special-color);
}

.our-clients-icon {
  fill: currentColor;
}

/* HW nr. 5 */

.nav-pointer {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-pointer::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--logo-special-color);
  border-radius: 2px;
}

.what-we-do-list li {
  position: relative;
}

.what-we-do-description {
  position: absolute;
  left: 0;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0 auto;

  width: 100%;
  min-height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 521px;

  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  /* border: none; */
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HW nr. 6 */

.modal-close:hover {
  fill: var(--logo-special-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  position: relative;

  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.modal-label.comment {
  position: relative;

  display: flex;
  margin-bottom: 0;
  flex-direction: column;
}

.modal-form-head {
  margin: auto;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
}

.modal-label > span {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;

  color: var(--special-grey-color);
}

.politics-text {
  color: var(--special-grey-color);
}

.modal-label > input,
.modal-label > textarea {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-label > input {
  padding-left: 42px;
}

.modal-label > textarea {
  min-width: 448px;
  min-height: 120px;
  padding: 12px 16px;

  resize: none;
}

.modal-label > textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  color: #000;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-lable-politics {
  position: relative;
  margin: 20px auto 30px auto;

  display: flex;

  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.172;
}

.modal-lable-politics > span {
  margin-left: 7px;
}

.private-policy {
  margin-left: 5px;
  color: var(--logo-special-color);
  text-decoration-line: underline;
}

.modal-submit {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: auto;

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--logo-special-color);
  color: #fff;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:focus-within > input,
.modal-label:focus-within > textarea {
  outline: none;
  border: 1px solid var(--logo-special-color);
}
.modal-label:focus-within > .modal-form-icon {
  fill: var(--logo-special-color);
}

.modal-form-checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.checkbox-icon {
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked {
  display: none;
}

.modal-form-checkbox:checked + .checkbox-icon {
  background-color: var(--logo-special-color);
  border-radius: 2px;
  border-color: var(--logo-special-color);
}
